# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/

# Django migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.py~
**/migrations/__pycache__/
**/migrations/*~ 
**/migrations/*.log

# VSCode or JetBrains IDE files
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
